[color]
	ui = true
[color "branch"]
	current = yellow bold reverse
	local = yellow bold
	remote = green bold
[color "diff"]
	meta = white
	whitespace = red reverse
	frag = blue bold
	old = red
	new = green
[color "status"]
	added = yellow bold
	changed = green bold
	untracked = cyan bold
[merge]
	tool = opendiff

[alias]
  cl = clean -Xdf
	lg = log --pretty=format:'%Cred%h%Creset - %Cgreen(%cd) %Creset%s %C(bold blue)<%an> %Creset%Cgreen(%cr)%Creset'
	lgl = log --pretty=format:'%Cred%h%Creset - %Cgreen(%cd) %Creset%s %C(bold blue)<%an> %Creset%Cgreen(%cr)%Creset' --numstat
  lal = "!git config -l | grep alias | cut -c 7-"
  st = status --short --untracked-files=no
  unt = ls-files --others --exclude-standard
[push]
	default = current
