# Up arrow does a reverse history search
"\e[A": history-search-backward
# Down arrow does a forward history search
"\e[B": history-search-forward

# Alt-S prefixes the line with `sudo` and takes the cursor to end of line
"\es":"\C-asudo \C-e"

# display possible completions using different color
set colored-stats on
# filename matching is case sensitive
set completion-ignore-case on
# treat '-' and '_' as equivalent when performing filename matching
set completion-map-case on
# common prefixes longer than this value is replaced with an ellipsis
set completion-prefix-display-length 2
# don't echo character (eg. ^C) corresponding to the signal (eg. Ctrl-C)
set echo-control-characters off
# completed names which are symbolic links to directories have a slash appended
set mark-symlinked-directories on
# undo changes to history lines when newline is received
set revert-all-at-newline on
# character denoting the filetype is appended when listing possible completions
set visible-stats on
# enable file name completion for files in symlinked directories
set mark-symlinked-directories on
