# up/down for reverse/forward history search
"\e[A": history-search-backward
"\e[B": history-search-forward
# ensure that left and right continue to work correctly
"\e[C": forward-char
"\e[D": backward-char
# use ctrl left/right to skip over words
"\e[1;5D": backward-word
"\e[1;5C": forward-word
# prefix the line with 'sudo'
"\es":"\C-asudo \C-e"

# display possible completions using different colors
set colored-stats on
# filename matching is case insensitive
set completion-ignore-case off
# treat '-' and '_' as equivalent when performing filname matching
set completion-map-case on
# common prefixes longer than this value is replaced with an ellipsis
set completion-prefix-display-length 2
# don't echo character (eg. ^C) corresponding to the signal (eg. Ctrl-C)
set echo-control-characters off
 # completed names which are symbolic links to directories have a slash appended
set mark-symlinked-directories on
# undo changes to history lines when newline is received
set revert-all-at-newline on
# character denoting the filetype is appended when listing possible completions
set visible-stats on

